.root {
	padding: 3.75em 8.125em 6.8em;
}
@media (max-width: 834px) {
	.root {
		padding: 3.75em;
	}
}
@media (max-width: 480px) {
	.root {
		padding: 1.75em;
	}
}
.root h1 {
	margin: 0;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	color: #444b58;
	margin-bottom: 2em;
}
.root section {
	display: flex;
	justify-content: space-between;
	gap: 2.625em;
	padding: 0;
}
@media (max-width: 1024px) {
	.root section{
		flex-direction: column;
	}
}

.descriptionblock {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    margin-bottom: 6px;
}
.descriptionblock h2 {
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
}
.descriptionblock p {
	font-size: 16px;
	font-weight: 600;
	color: #444b58;
	line-height: 1.445;
}
.descriptionblock p span {
	color: #b2b2b2;
	margin-right: 0.7em;
}
.info p {
	margin: 1.4em 0;
}
.info p:first-child {
	margin-top: 0;
}
.descriptionblock button {
	max-width: 200px;
}
.head_info {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.head_info p {
	margin: 0.5em 0 0;
	margin-right: 0.4em;
}
.head_info p span {
	margin-right: 0.4em;
}

